* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  overflow-x: hidden; /* Add this line to hide horizontal scrollbar */
}

img {
  width: 100%;
  object-fit: contain;
}
